<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Framework.testng1.testcomponent.Listeners"/>
</listeners>
  <test thread-count="5" name="SubmitOrder">
    <classes>
      <class name="Framework.testng1.End1C"/>
   
    </classes>
  </test> <!-- Test -->
  <test name="ErrorValidation">
  <classes>
  <class name="Framework.testng1.errorvalidation.ErrorValidation"/>
  </classes>
  </test>
</suite> <!-- Suite -->
